<div class"row">
	
<div class="col-md-6">
    <h1><%= @hospital.name %></h1>
    <h2>Facility ID: <%= @hospital.site_code%>  </h2>  
        <div class="well profile-block profile-description">
            <h3>Facility Details</h3>
            WAN Router A: <p><%= @hospital.wan_a %></p>
            ATT Circuit ID: <p><%= @hospital.att_circuit_id %></p>
            WAN Router B: <p> <%= @hospital.wan_b %> </p>
            Verizon Circuit ID: <p><%= @hospital.verizon_circuit_id %></p>
            AS400: <p><%= @hospital.as_400 %> </p>
            
            <%= @hospital.comments %>
        </div>
  
    
   
        <div class="well profile-block contact-info">
            <h3>Contact Info</h3>
            Facility Oncall Phone: <p> <% @hospital.oncall_number %></p>
            Current Director: <p><% @hospital.director %></p>
            
            
    
        </div>
            
                <div>
                <button type="button" class="btn btn-primary btn-md">Edit This Hospital<%= link_to "Edit This Hospital", edit_hospital_path(id: @hospital.id) %></button>
                </div>
          
    </div>
</div>
<ul>

</ul>